html {
	margin: 0;
	padding: 0;
	}
body { 
	font: 80% "Trebuchet MS", Helvetica, sans-serif;
	line-height: 1.7;
	color: #555753; 
    
 background-image:url('brushed_@2X.png');
    background-attachment:fixed;
    margin: 0; 
	padding: 0;
	text-align:left;
	
	}



p { 
	margin-top: 0; 
	text-align: center;
	margin-left: 7.5px;
	margin-right: 7.5px;
	}


h2{
	font-size: 2.8em;
	font-style: "Trebuchet MS", Helvetica, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	margin-left: auto;
	margin-right: auto;
	color: black;

}
h3 { 
	font:  normal 1.4em "Trebuchet MS", Helvetica, sans-serif;
    font-family:"Avenir Book", Avenir, Futura, Ariel, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: black;
/*
	background: url('CheckeredBackground.png');
*/
	}
	
table
	{
	border-collapse:collapse;
	}

th
	{
    color:white;
    background-color: #00004C;
    font-style: normal;
    font-family:"Avenir Book", Avenir, Futura, Ariel, sans-serif;
    text-align:center;
    vertical-align: middle; ;
	}

table, th, td
	{
	border: 1px solid #00004C;
	text-align:center;
	padding: 4px;
	}

ul li table
	{
	margin: 30px;
	}

a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #4D4D97;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #00004C;
	}
a:hover, a:focus, a:active { 
	text-decoration: none; 
	color: #9685BA;
	}
a.hiddenlink:link, a.hiddenlink:visited, a.hiddenlink:hover, a.hiddenlink:focus, a.hiddenlink:active, a.hiddenlink{
	color: #555753; 
    font-weight:normal;
}
abbr {
	border-bottom: none;
	}

hr.interdiv{
    width: 75%;
    margin-left:auto;
    margin-right:auto;
    margin-top : 5px;
    margin-bottom: 5px;
}

/* Titles */

h2{
	font-size: 2.8em;
	font-style: "Trebuchet MS", Helvetica, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	margin-left: auto;
	margin-right: auto;
	color: black;

}
h3 { 
	font:  normal 1.4em "Trebuchet MS", Helvetica, sans-serif;
    font-family:"Avenir Book", Avenir, Futura, Ariel, sans-serif;
	letter-spacing: 1px; 
    margin-top: 0;
	margin-bottom: 0; 
	color: black;
	}
	
    h3.titletext{
        padding: 0;
        margin: 0;
        background: none;
        color: #00004C;
        font-size: 50px;
        font-style: normal;
        font-family:"Avenir Book", Avenir, Futura, Ariel, sans-serif;
        text-align:center;
        vertical-align: middle;
        line-height:100%; 
        padding-top: 115px;
/*
        margin-top: 50%
*/
    }

 h3.subtitletext{
        padding: 0;
        margin: 0;
        background: none;
        color: #00004C;
        font-size: 50px;
        font-style: normal;
        font-family:"Avenir Book", Avenir, Futura, Ariel, sans-serif;
        text-align:center;
        vertical-align: middle;
        line-height:475%; 
    }

h4 { 
	font:  normal 1.4em "Trebuchet MS", Helvetica, sans-serif;
    font-family:"Avenir Book", Avenir, Futura, Ariel, sans-serif;
	letter-spacing: 1px;
    margin-top: 0;
	margin-bottom: 0; 
	color: black;
    

/*
	background: url('CheckeredBackground.png');
*/
	}

/* Lists */
ul{
	list-style-type:none;
	margin:0;
	padding:0;
	}

ul.raceschedulelist{
    margin-left: 10%;
    margin-right: auto;
    list-style-type:circle;
}
.imagelist{
    display: block; 
}
ul.contactus{
    margin-left: 40%;
    margin-right: auto;
    list-style-type:circle;
}

ul.imagelist{
    
}

li.imagelist{
    
}
li.racescheduleli{
    text-align:left;
}

/*
Divs
*/

    /* Title Divs */

        div.pagetitle{ 
            padding: 0;
            margin: 0;
            width: 100%;
            border-style:none;
            background-image: url('MenPictureNoTitlex2OrangeWashed.png');
            background-attachment:fixed;
            background-repeat:no-repeat;
            width: 100%;
            height: 300px;
            margin-left:auto;
            margin-right:auto;
            position:relative;
            z-index:2;
        }
      div.subpagetitle{ 
                padding: 0;
                margin: 0;
                width: 100%;
                border-style:none;
                background-image: url('MenPictureNoTitlex2OrangeWashedShort.png');
                background-attachment:fixed;
                background-repeat:no-repeat;
                width: 100%;
                height: 200px;
                margin-left:auto;
                margin-right:auto;
                position:relative;
                z-index:2;
            }
        
        div.title{
            
            margin-left: 2.5%;
            margin-right:auto;
            margin-top:20px;
            margin-bottom:-25px;
            color: none;
            background: none;
            position:static;
            }
        
    /* Container Divs */
    
        div.container {
            max-width: 1000;
            min-width: 1000;
            
            border-style:none;
        /*
            border-image:url(CheckeredBackground.png) 30 30 round;
        */
            border-width:0px;
            border-radius:0px;
            border-top:none;
            margin-left:auto;
            margin-right:auto;
        /*
            min-height: 790px;
        */
            position:relative;
            z-index:2;
            }
        
        div.content{
        
            max-width: 75%;
            min-width: 75%;
            margin-top:20px;
            margin-bottom: 20px;
            text-align:center;

            position:relative;
            z-index:2;
            }
        div.maincontent{
            float: left;
            width: 50%;

            }
          
        div.mainimg{
            float: left;
            width: 50%;
    
        

/*
            max-width: 75%;
            min-width: 75%;
            margin-top:0;
            margin-bottom: 20px;
            margin-left: auto;
            margin-right: 50%;
            text-align:center;
   
            position:relative;
            z-index:2;
*/
            }
        div.thirds{
            float: left;
            width: 33.33333%;
        }
        
        div.content2{
            background: #292fcd;
            color: black;
            border-style:solid;
            border-width:5px;
            border-radius:10px;
            border-color:#ff6501;
            max-width: 500px;
            min-width: 250px;
            margin-top:0px;
            margin-bottom: 20px;
            text-align:center;
            box-shadow: 10px 10px 5px black;
            position:relative;
            z-index:2;
            }

       
        
    div.return{
        background:none;
        border:none;
        color:black;
        margin-left:0;
        margin-right:auto;
        }
    
    div.image{
        position:static;
        z-index:1;
        }
    
    div.table1{
        margin-right:auto;
        margin-left:20%;
    }
    div.workouttablediv{
        margin-right:auto;
        margin-left:auto;
    }
    
    div.mapimage{
        border-style: none;
        border-width: 5px;
        border-color: black;
        z-index:1;
        margin-bottom:-300px;
        margin-left:50%;
        margin-right:auto;
        position:absolute;
        }
        div.footer{
        border-style: none;	
        color: #999999;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding:5px 5px 5px 5px;
        font-size:50%;
        text-align: center;
        }
    

/*
Image layouts
*/

img.wrapr{
    float: right;
    margin: 0px;
}
img.wrapl{
    float: left;
    margin: 10px;
}
img.cenimg{
     width:80%; /* you can use % */
            height: auto;   
    display: block;
    margin: auto;
    margin-top: 30%;
    margin-bottom: 30%;
    


    
}	

img.rightimg{
    float:right;
    margin-left: auto;
    margin-right: -10%;
}
/*
Tables
*/
    table
        {
        border-collapse:collapse;
        }
    
    th
        {
        color:white;
        background-color: #00004C;
        font-style: normal;
        font-family:"Avenir Book", Avenir, Futura, Ariel, sans-serif;
        text-align:center;
        vertical-align: middle; ;
        }
    
    table, th, td
        {
        border: 1px solid #00004C;
        text-align:center;
        padding: 4px;
        }
    
    table.workouttable{
        margin-left:auto;
        margin-right:auto;
        border: 1px solid #00004C;
        text-align:center;
        padding: 4px;
    }




/* TESTING CRAP*/




#nav
{
    /* container */
}
    #nav > a
    {
        display: none;
    }
    #nav li
    {
        position: relative;
    }
 
    /* first level */
 
    #nav > ul
    {
        height: 3.75em;
    }
        #nav > ul > li
        {
            width: 25%;
            height: 100%;
            float: left;
        }
 
    /* second level */
 
    #nav li ul
    {
        display: none;
        position: absolute;
        top: 100%;
    }
        #nav li:hover ul
        {
            display: block;
        }

/*
IDs
*/

    /*
    Alignment ID's
    */
    
        #center{
            margin-left:auto;
            margin-right:auto;
        }
        #left{
            margin-left:auto;
            margin-right:35%;
            }
        #mainleft{
            float:left;
            margin-left:-7.5%;
            margin-right:auto;
            }
        #right{
            margin-left:45%;
            margin-right:auto;
            }
        #mainright{
            float:left;
            margin-left:auto;
            margin-right:0%;
            }
        #bottom{
            margin-left:5%;
            margin-right:auto;
            max-width:50%;
            min-width:25%;
            }
    
    /*
    Image IDs
    */
    
        #nircaimg{    
    width:65%;
            display: block;
            margin: auto;
            margin-top: 30px;
            margin-bottom: 50px;
    max-width="100%"; height: auto;
        }
        #imageWomanCoordinator{
            float:right;
            margin-left:auto;
            margin-right:5%;
            margin-top:-425px;
            border-style:none;
            }
        #imageManCoordinator{
            float:right;
            margin-left:auto;
            margin-right:12.5%;
            margin-top:-275px;
            border-style:none;
            }
        #results{
            background-color: transparent;
            float:left;
            margin-top:-150px;
            margin-right:auto;
            margin-left:2.5%;
            border-style:none;
            }
        #nirca{
            float:left;
            margin-left: -180px;
            margin-right: auto;
            margin-top: 260px;
            border-style: none;
            }
        
        #womennatspic{
/*
         width:50%;  you can use % 
            height: auto;   
*/
        }
        #humpbackpic{
/*
            margin-left: auto;
            margin-right: auto;
*/
              
        }
        #image1{
            float: none;
            position:static;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0px;
            z-index:-1;
            border-style:none;
            }
        #image2{
            float: left;
            margin-left: 2.5%;
            margin-right: auto;
            margin-top: 0px;
            z-index:-1;
            border-style:none;
            }
        #image3{
            float:none;
            margin-left: auto;
            margin-right: auto;
            margin-top: 25px;
            z-index:-1;
            border-style:none;
            }
        
        
        #image5{
            margin-left:10%;
            margin-right:60%;
            position:relative;
            z-index:2;
            border-style:none;
            margin-top:40px;
            margin-bottom: 50px;
            }
        #menbeforemeet{
             
            display: block;
            margin: auto;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        #womenaftermeet{
            height: auto; /* you can use % */
            width: 80%;   
            display: block;
            margin-top: 15%;
            margin-bottom: 15%;
        }
        #menwcpic{
           height: auto; /* you can use % */
            width: 50%;   
            display: block;
            margin: auto;
            margin-top: 20px;
            margin-bottom: 20px; 
        }
        #womenwcpic{
           height: auto; /* you can use % */
            width: 80%;   
            display: block;
            margin: auto;
            margin-top: 20px;
            margin-bottom: 20px; 
        }
        
        #liftingpic1{
            width: 20%;
            height: auto;
        }
        #liftingpic2{
            width: 20%;
            height: auto;
        }
        #liftingpic3{
            width: 20%;
            height: auto;
        }
        #liftingpic4{
            width: 20%;
            height: auto;
        }
    
    /*
    Map IDs
    */
    
        #map1{
            margin-top:-325px;
            }
        
        #map2{
            margin-top:-310px;
            }
            
        #map3{
            margin-top:-310px;
            }
            
        #map4{
            margin-top:-310px;
            }
    #allmap{
         width:50%; /* you can use % */
`       height: 5;
       margin: auto;
        margin-top: 305;
        margin-bottom: 30%;
        position:relative;
                display: block;

        
    }
        
    #racescheduleh4{
    margin-top: 30px;
    }
    #introdiv{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    
/*Log form IDs*/

    #dateform{
        width: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #contentform{
        width: 70px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #newcontentform{
        width: 70px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #newcontentdiv{
        display: none;
    }
    #numberform{
        width: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #createlog{
        display: none;

    }
    #createlogtitle{
    }
    #loadlog{
        display: none;
    }
    #loadlogtitle{
/*
        visibility: hidden;
*/
    }
    #helploglist{
        text-align: left;
    margin-left: 15%;
    margin-right: auto;
    list-style-type:circle;
    }
    #helplog{
        display: none;
    }
    #showhelplink{
        	color: #555753;  
    }






/*Style below for the Navigation Bar. Originally written using Css3Menu Software, edited by CLW & SMZ*/


		#nav
		{
			width: 60em; /* 1000 */
			font-family: 'Open Sans', sans-serif;
			font-weight: 400;
			position: absolute;
			top: 25%;
			left: 50%;
			margin-left: -30em; /* 30 480 */
            z-index: 999;
		}

			#nav > a
			{
				display: none;
			}
            #nav ul{
            position: fixed;
            width: 100%;
            top: 0;
            margin-top: 0;
            left: 0;
}
			#nav li
			{
				position: relative;
			}
				#nav li a
				{
					color: #fff;
					display: block;
				}
				#nav li a:active
				{
					background-color: #c00 !important;
				}

			#nav span:after
			{
				width: 0;
				height: 0;
				border: 0.313em solid transparent; /* 5 */
				border-bottom: none;
				border-top-color: #efa585;
				content: '';
				vertical-align: middle;
				display: inline-block;
				position: relative;
				right: -0.313em; /* 5 */
			}

			/* first level */

			#nav > ul
			{
				height: 3.75em; /* 60 */
				background-color: #00004C;
                opacity: .9;
			}
				#nav > ul > li
				{
					width: 25%;
					height: 100%;
					float: left;
				}
					#nav > ul > li > a
					{
						height: 100%;
						font-size: 1.5em; /* 24 */
						line-height: 2.5em; /* 60 (24) */
						text-align: center;
					}
						#nav > ul > li:not( :last-child ) > a
						{
							border-right: 1px solid #cc470d;
						}
						#nav > ul > li:hover > a,
						#nav > ul:not( :hover ) > li.active > a
						{
							background-color: #cc470d;
						}


				/* second level */

				#nav li ul
				{
					background-color: #cc470d;
					display: none;
					position: absolute;
					top: 100%;
				}
					#nav li:hover ul
					{
						display: block;
						left: 0;
						right: 0;
					}
						#nav li:not( :first-child ):hover ul
						{
							left: -1px;
						}
						#nav li ul a
						{
							font-size: 1.25em; /* 20 */
							border-top: 1px solid #e15a1f;
							padding: 0.75em; /* 15 (20) */
						}
							#nav li ul li a:hover,
							#nav li ul:not( :hover ) li.active a
							{
								background-color: #e15a1f;
							}

        @media only screen and ( min-device-width : 320px ) and (max-device-width : 568px) and (orientation : portrait) /* 1000 */
		{
			#nav
			{
				width: 100%;
				position: static;
				margin: 0;
			}
            body{
                width: 320px;
            }       
		}
		@media only screen and ( max-width: 40.001em ) /* 1000 */
		{
			#nav
			{
				width: 100%;
				position: static;
				margin: 0;
			}
		}

		@media only screen and ( max-width: 40em ) /* 640 */
		{
			html
			{
				font-size: 75%; /* 12 */
			}

			#nav
			{
				position: fixed;
				top: 5px;
				left: 5px;
			}
				#nav > a
				{
					width: 6.125em; /* 50 */
					height: 6.125em; /* 50 */
					text-align: left;
					text-indent: -9999px;
					background-color: #e15a1f;
					position: relative;
				}
					#nav > a:before,
					#nav > a:after
					{
						position: absolute;
						border: 2px solid #fff;
						top: 35%;
						left: 25%;
						right: 25%;
						content: '';
					}
					#nav > a:after
					{
						top: 60%;
					}

				#nav:not( :target ) > a:first-of-type,
				#nav:target > a:last-of-type
				{
					display: block;
				}


			/* first level */

			#nav > ul
			{
				height: auto;
				display: none;
				position: absolute;
				left: 0;
				right: 0;
			}
				#nav:target > ul
				{
					display: block;
				}
				#nav > ul > li
				{
					width: 100%;
					float: none;
				}
					#nav > ul > li > a
					{
						height: auto;
						text-align: left;
						padding: 0 0.833em; /* 20 (24) */
					}
						#nav > ul > li:not( :last-child ) > a
						{
							border-right: none;
							border-bottom: 1px solid #cc470d;
						}


				/* second level */

				#nav li ul
				{
					position: static;
					padding: 1.25em; /* 20 */
					padding-top: 0;
				}
		}


