ul{
 padding: 0;
    margin: 0 0 20px 0;
    list-style:none;
}

h1, h2{
 padding:0;
    margin:0 0 20px 0;
    font-weight:normal;
}

p{
 padding:0;
    margin:0 0 20px 0;
}

a:link, a:visited{
    text-decoration:underline;
    color:#000;
}

a:hover{
 text-decoration:none;   
}

ul li{
 padding:5px 0;   
}

ul li input[type="text"], ul li input[type="password"]{
 width:200px;   
}

/* Headers */
h1{
 font-size:1.8em   
}

h1{
 font-size:1.4em   
}

.logo{
 font:2em Arial;
    margin:0 0 10px 0;
    padding:0;
    width:200px;
    color:#fff;
}

/*Containers*/
body{
 background:lightslategray;
    font-family:Arial;
    font-size:0.8em
}

#container, footer{
    background: #fff;
    width:920px;
    margin:0 auto;
    padding:20px
}

header{
 width:940px
        padding:10px;
    margin:0 auto 10px auto;
}

#container{
 min-height:500px;
        border-radius:5px 5px 0 0;
}
footer{
    border-radius: 0 0 5px 5px;
}
.widget{
 margin-bottom:20px;   
}

.widget.inner{
    margin: 0 10px;   
}

/* Navigation*/
nav{
 float:left;   
}

nav ul{
 margin:0;   
}
nav ul li{
 display:inline;
margin-right:10px;
}

nav ul li a{
 text-decoration:none;   
}

nav ul li a.last{
    border-right:0;
}
nav ul li.current{
    font-weight:bold;
}
/* Aside */
aside{
 width:260px;
    float:right;
    border-left:1px dashed #aaa;
    padding-left:15px;
}
    
    /* Login*/
    #login li.link{
        .margin-top:5px;
    }

/*footer*/
footer {
    border-top:1px dashed #ddd;
    color:#999;
}

