@import "base";

#schedule {
	.container {
		table {
			font-size: 1.1rem;
			text-align: left;
			border-collapse: collapse;
			tr {
				th, td {
					padding: 10px 10px;
				}
				th {
					font-weight: 800;
				}
				td:first-child {
					font-weight: 600;
				}
			}
			tr.fade {
				opacity: 0.5;
			}
		}
		@media screen and (max-width: 38rem) {
			table {
				width: 100%;
				border: 0;
				thead {
					tr {
						display: none;
					}
				}
				tr {
					th {
						border: 0;
					}
					td {
						// makes table display vertically
						display: block;
					}
					td:first-child {
						border-top: 3px solid $theme-orange;
						margin-top: 15px;
						font-weight: 600;
					}
				}
			}
		}
	}
}

.splash .container p#register {
	font-weight: bold;
}

.splash.page-title {
	background-attachment: fixed;
	
	h1 {
		@media screen and (max-width: 39rem) {
			.desktop-only {
				display: none;
			}
			.mobile-only {
				display: inline;
			}
		}
	}
}