@import "base";

// media query for mobile devices with narrow screens
@media screen and (max-width: 66rem) {
    .splash.page-title {
        .container {
            .background {
                h1 {
                    // make the header smaller so it fits on mobile screens
                    font-size: 3.0rem;
                }
            }
        }
    }
}

.splash {
    .container {
        p {
            line-height: normal;
            margin-bottom: 0.5rem;
        }

        .lede {
            font-weight: 600;
            font-size: 1.2rem;
        }
    }
}

.splash.page-title {
	background-attachment: fixed;
}