@import "base";

$theme-lightgray: #e0d9d1;

.splash.image {
	background-size: contain;
}

.splash.page-title.image {
	background-attachment: fixed;
	background-size: cover;
}

.disclaimer {
	font-size: 1.0em;
	font-weight: light;
	font-style: italic;
	line-height: 1.3em;
}

.splash {
	.container {
		max-width: 1100px;
		padding: 80px 10px;
		.big-button {
			margin: 10px 0 10px 0;
		}
		form {
			margin-top: 20px;
			margin-bottom: 20px;
			color: $theme-gray;

			label {
				font-weight: bold;
				font-size: 1.2em;
			}
			input[type=text], input[type=email], input[type=number] {
				display: box;
				font-size: 1.3em;
			}
			input[type=text]::placeholder, input[type=email]::placeholder, input[type=number]::placeholder {
				color: #dfdfdf;
				font-size: 1.0em;
			}

			/* from https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
			input::-webkit-outer-spin-button,
			input::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}

			/* Firefox */
			input[type=number] {
				-moz-appearance:textfield;
			}
			/* end from https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */

			input[type=submit] {
				display: block;
				margin-top: 5px;
				font-size: 1.23em;
				padding: 5px 15px 5px 15px;
				color: $theme-white;
				background-color: $theme-orange;
				border: 2px solid $theme-white;
				font-weight: bold;
			}
			input[type=submit]:hover {
				background-color: $theme-white;
				color: $theme-orange;
				cursor: pointer;
			}
		}
		.section {
			.row {
				.separator {
					width: 1px;
					background-color: $theme-gray;
				}
				flex-wrap: wrap;
				.col-section {
					margin: 0 10px 0 10px;
				}
				.col-section:first-child {
					margin: 0 10px 0 0; // only want margin on right
				}
				.col-section:last-child {
					margin: 0 0 0 10px; // only want margin on left
				}
				.col-section#runners-list {
					flex: 1.2;
					min-width: 300px;
					.runners {
						table {
							width: 100%;
							font-size: 1.2em;
							border-spacing: 0 0;

							tr {
								background-color: $theme-white;
								td { 
									padding: 5px 5px 5px 5px;
								}
							}
							tr:nth-child(odd) {
								background-color: $theme-lightgray;
							}
						}
						max-height: 600px;
						overflow-y: scroll;
					}
				}
				.col-section {
					flex: 1;
					padding: 0px 5px 0px 5px;

					form {
						input[type=submit] {
							display: block;
							margin-top: 5px;
							font-size: 1.23em;
							padding: 5px 15px 5px 15px;
							color: $theme-orange;
							background-color: $theme-white;
							border: 2px solid $theme-orange;
							font-weight: bold;
						}
						input[type=submit]:hover {
							color: $theme-white;
							background-color: $theme-orange;
						}
					}

				}
			}
		}

		p.callout {
			margin: 10px 0;
			font-size: 2.2rem;
			text-align: center;

			span {
				font-size: 3rem;
				font-weight: 900;
			}
		}
	}
}

#banner {
	width: 100%;

	img {
		width: 100%;
	}
}

#register {
	.container {
		.big-button {
			margin: 10px 0;
		}
	}
}
