@import "base";

.splash {
	.container {
		h4 {
			padding-top: 10px;
		}

		.inset {
			max-width: 600px;
			padding: 10px 0 0 0;
		}
	}
}

#cross-country {
	ul {
		li {
			p:first-child {
				font-weight: bold;
			}
		}
	}
}